<!doctype html>

<html lang="fr">
   <head>
    <meta charset="utf-8">
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <header class="header">
    </header>
    <div class="row overwrite">
    <div class='col-md-offset-2 col-md-8 overwrite'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
            {% for item in amenities %}
			{% if loop.index == 1 %}
				<div class="item active sizer">
			{% else %}
				<div class="item sizer">
			{% endif %}
			<li><a href="/amenity/{{item.id}}"></a></li>
                  <blockquote class="overwrite">
					  <div class="row overwrite">
					  <div class="center">
						<div class="center">
                    
							Proposition {{loop.index}}/{{amenities|length}}
        
						</div>
						 <div class="center fdr plan">
                            {% for mode in item.journey.modes %}
							{% if loop.index != 1 %}
							<img class="img3" src="../static/img/separator.png"/>
							{% endif %}
                            <img  class="img3"  src="../static/img/{{mode}}.png"/>
                            {% endfor %}
							{% if item.journey.duration %}
							<p>
							<span style="margin-left: 50px">Aller - Durée: <b>{{ item.journey.duration }} minutes</b></span>
							</p>
							{% endif %}
						</div>
                        
                        <div class="center fdr {{ item.type }}">
						<span class="texter2"><img class="img2" src="../static/img/{{ item.type }}.png"/>{{ item.type }}: {{ item.name }}</span>
						</div>
						<div class="center fdr {{ item.type }}">
                            {% if item.brewery %}
                            <p>
                                <B>Type de bières</B>
                                <ul>
                                    {% for brew in item.brewery %}
                                    <li>{{brew}}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                            {% endif %}
                            {% if item.cuisine %}
                            <p>
                                Type de cuisine: {{ item.cuisine }}.
                            </p>
                            {% endif %}
							</div>
                            {% if item.house_number and item.street %}
                            <div class="center fdr {{ item.type }}">
							<p>
                            Adresse: {{ item.house_number }} {{item.street}}.
                            </p>
							</div>
                            {% endif %}
                            <p>
							<div class="center fdr {{ item.type }}">
                            {% if not item.opening_hours  %}
                                Horaires ouvertures: NC
                            {% else %}
                                Horaires ouvertures: {{ item.opening_hours }}
                            {% endif %}
                            </p>
                            {% if item.type == 'bar' or item.type == 'pub' %}
                            <p>
                                Happy Hour: hhHmm à hhHmm
                            </p>
                            {% endif %}
							</div>
							
						</div>
						<a href="/map/{{item.id}}" id="button" class="center fdr map"></a>
						 <div class="center fdr plan">
                            
						</div>
                    <div class="center">
						<hr>
						<span>
							Proposition {{loop.index}}/{{amenities|length}}
						</span>
					</div>
			</div>
		      </div>
		   </blockquote>
          </div>
        {% endfor %}
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa"></i></a>
      </div>                          
 
    </div>
	</div>
	</div>
	
    <footer class="footer"></footer>
  </body>
</html>
