<!doctype html>

<html lang="fr">
   <head>
    <meta charset="utf-8">
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <header>
      <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
    </header>
    <div class="container">
      <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
        {% for item in amenities %}
        {% if loop.index == 1 %}
            <div class="item active">
        {% else %}
            <div class="item">
        {% endif %}<li><a href="/amenity/{{item.id}}"></a></li>
                  <blockquote>
                  
              <div class="row">
              <div class="center">
                <hr>
                <div class="center">
                    
                    Proposition {{loop.index}}/{{amenities|length}}
        
                </div>
                <hr>
                    <div class="center">
                        <!-- section piéton-->
                        <img class="img" src="../static/img/pieton.jpg"/>
                        <!-- séparateur aller-->
                        <img class="img" src="../static/img/arrow-right.jpg"/>
                        <!-- section TC-->
                        <img class="img" src="../static/img/bus.jpg"/>
                        <!-- séparateur aller-->
                        <img class="img" src="../static/img/arrow-right.jpg"/>
                        <!-- section piéton-->
                        <img class="img" src="../static/img/pieton.jpg"/>
                        <p>
                            Aller - Durée: xx minutes
                        </p>
                    </div>
                <hr>
                    <div>
                        <span><img class="img" src="../static/img/{{item.type}}.jpg"/>{{ item.type }}: {{ item.name }}</span>
                        <div class="center">
                            {% if item.brewery %}
                            <p>
                                Type de bières
                                <ul>
                                    {% for brew in item.brewery %}
                                    <li>{{brew}}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                            {% endif %}
                            {% if item.cuisine %}
                            <p>
                                Type de cuisine: {{ item.cuisine }}.
                            </p>
                            {% endif %}
                            <p>
                            {% if not item.opening_hours  %}
                                Horaires ouvertures: NC
                            {% else %}
                                Horaires ouvertures: {{ item.opening_hours }}
                            {% endif %}
                            </p>
                            {% if item.type == 'bar' or item.type == 'pub' %}
                            <p>
                                Happy Hour: hhHmm à hhHmm
                            </p>
                            {% endif %}
                        </div>
                        <a href="map.html" class="btn btn-block btn-primary btn-lg">Voir le détail</a>
                    </div>
                <hr>
                    <div>
                        <!-- section piéton-->
                        <img class="img" src="../static/img/pieton.jpg"/>
                        <!-- séparateur aller-->
                        <img class="img" src="../static/img/arrow-left.jpg"/>
                        <!-- section TC-->
                        <img class="img" src="../static/img/bus.jpg"/>
                        <!-- séparateur aller-->
                        <img class="img" src="../static/img/arrow-left.jpg"/>
                        <!-- section piéton-->
                        <img class="img" src="../static/img/pieton.jpg"/>
                            <p>
                            Retour - Durée: xx minutes
                        </p>
                    <div class="center">
                <hr>
                <span>
                    Proposition {{loop.index}}/{{amenities|length}}
                </span>
              </div>
              </div>
            </blockquote>
          </div>
        {% endfor %}
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
      
    </div>
    <footer></footer>
  </body>

</html>
