<!doctype html>

<html lang="fr">
   <head>
    <meta charset="utf-8">
    <title>New Page</title>
	<link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../static/js/main.js" type="text/javascript"></script>
  </head>
  
  <body>
  <script>
	$(document).ready(function() {
	today=new Date();
	today.setTime(today.getTime()+120*60*1000);
	dateheure = today.getHours() + ":" + today.getMinutes();
  document.getElementById("time").innerHTML=dateheure;
   });
  </script>
    <header class="header">
    </header>
	<div class="container home1">
      <form class="navbar-form navbar-left">
        <div class="form-group"></div>
        
		<div class="row overwrite">
		
          <div class="col-md-6">
		   <B>Temps disponible</B>
          <div class="range range-primary">
            <input type="range" name="range" min="1" max="5" value="3" id="rangePrimary" onchange="hourgetter();">
            <output id="rangePrimaryOutput" value="2" style="visibility: hidden;"></output>
          </div>
        </div>
        </div>
		<div class="contenair home_text"><span id="hour" class="texter" >2h00</span></div>
		
		<div class="row shoes">
          <div class="col-md-6">
		  <b>Humeur</b>
            <div class="range range-success">
			   <input type="range" name="range" min="1" max="3" value="2" id="rangeSuccess" onchange="shoesgetter();">
			   <output id="rangeSuccessOutput" value="2" style="visibility: hidden;"></output>
            </div>
          </div>
        </div>
		</div>
      </form>
	  <div class="container home2">
		  <p>Départ <b>rue Hector Malot.</b><br></p>
		  <p>Retour prévu: <b><span id="time"></span>.</b></p>
	  </div>
      <a href="list?time=3&humor=2" id="button" class="container home3">Lancer les recherches!</a>
		<footer class="footer"></footer>
  </body>

</html>