<!doctype html>

<html lang="fr">
    <head>
    <meta charset="utf-8">
    <title>Hango</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  </head>

  <body>
    <header>
      <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
    </header>
    <div class="container">
      <img class="pull-left" src="https://builder.divshot.com/img/placeholder-100x100.gif">
    </div>
    <div class="container">
      <h1>Bienvenue sur OBP!<br></h1>
      <p>Cette applicaiton vous permet de prendre connaissance du quartier entourant nos nouveaux locaux!<br></p>
      <p>lrng eg trgn trkjgn trghnetrknhzitorhn etnh tefrhntrimoh etromh ntrh er<br></p>
      <p></p>
    </div>
    <div class="container">
      <a href="home.html" class="btn btn-block btn-primary btn-lg">J'accepte de devenir g&eacute;nial!</a>
    </div>
    <footer></footer>
  </body>

