<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenbeerPlanner</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="css/jumbotron.css" rel="stylesheet">
    </head>
    <body>
        <script src="js/libs/jquery-1.9.1.js"></script>
    </body>
</html>
