<!doctype html>

<html lang="fr">
   <head>
    <meta charset="utf-8">
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <header>
      <img src="https://builder.divshot.com/img/placeholder-100x100.gif">
    </header>
    <div class="container">
      <ul class="list-group">
      <li class="list-group-item"><a href="/fdr/bar">Bars à bière - {{ amenities['bar']|length + amenities['pub']|length }} résultats</a></li>
      <li class="list-group-item"><a href="/fdr/fast_food">Snacks - {{ amenities['fast_food']|length}} résultats</a></li>
      <li class="list-group-item"><a href="/fdr/restaurant">Restaurants - {{ amenities['restaurant']|length}} résultats</a></li>
      <li class="list-group-item"><a href="/fdr/cafe">Cafés - {{ amenities['cafe']|length}} résultats</a></li>
    </ul>
    </div>
    <footer></footer>
  </body>

</html>
