/* Put your CSS here */
html, body {
    margin: 20px;
}

.error-messages{
    color: red;
    border: 1px solid red;
    margin: 5px;
    display: none;
}


.img { 
	width: 60px;
}

.center { 
	margin: auto;
}

